﻿
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
        -ms-flex: 0 0 44%;
        flex: 0 0 44%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck .card {
        -ms-flex: 0 0 29%;
        flex: 0 0 29%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-deck .card {
        -ms-flex: 0 0 29.5%;
        flex: 0 0 29.5%;
    }
}

@media (min-width: 1200px) {
    .card-deck .card {
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
    }
}

::-webkit-input-placeholder { /* Edge */
    color: red;
}

::placeholder {
    color: red;
}