﻿.borderForm{
    margin-top: 10px;
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius:10px 10px;
}

.hotline{
    margin-left:20px;
}
.hotline p img{
    height:15px;
}

.hotline .title{
    font-weight:bold;
}

div.card-product:hover {
    border: 1px 1px grey;
    box-shadow: 0px 0px 10px #808080;
}

ul {
    margin: 0;
    padding: 0;
}

.CategoryHead {
    border-bottom: 3px solid red;
    text-shadow: 3px 3px 1px #fec4c4;
    color: red;
}